.btn{
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	background-color: skyblue;
	cursor: pointer;
}

.row{
	margin-bottom: 0.625em;
}
.row label{
	width: 4em;
	padding-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
}
.row input{
	font-size: 16px;
	width: calc(100% - 4.5em);
	height: 2em;
	border-radius: 5px;
	box-shadow: 0 0 2px skyblue;
	border: none;
	box-sizing: border-box;
	outline: none;
}
.row input:focus{
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}
table thead th{
	text-align: left;
}
table tbody td{
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
table thead th,
table tbody td{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.center{
	padding: 0 2vw;
	margin: 50vh auto 0;
	transform:translateY(-50%);
}
.router-link-active{
	color: #fff;
	background-color: #006699;
}